.header {
  position: relative;
  border-bottom: 5px solid #333;
  padding-bottom: 10px;
}

.btn {
  appearance: button;
  -webkit-appearance: button;
  color: #111;
}

.btnHeader {
  margin: auto;
  padding: 5px 10px;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5em;
}

@media only screen and (max-width: 640px) {  
  .btnHeader {
    position: static;
    display: block;
    max-width: 200px;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
    margin: 10px auto;
  }
}