.header {
  position: relative;
  border-bottom: 5px solid #333;
  padding-bottom: 10px;
  overflow: hidden;
}

.btn {
  color: #111;
  // appearance: button;
  // -webkit-appearance: button;
}

.btnHeader {
  width: 130px;
  margin: auto;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5em !important;
}

@media only screen and (max-width: 640px) {  
  .header {
    font-size: 0.7em;
  }
  
  .btnHeader {
    position: static;
    display: block;
    max-width: 200px;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
    margin: 10px auto;
  }
}