@import 'poll';

.home {
  margin-bottom: 90px;
  overflow: hidden;
  height: 100%;
}

.sidebar {
}

.side {
}
@import './snippets/slide';

.disabledCursor { 
  pointer-events: none;
  cursor: pointer;
}