$btn-max-width: 340px;

.loginbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: repeating-linear-gradient(
    45deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
  opacity: 0.95;
  z-index: 10;
}

.loginbar-btns {
  position: relative;
  max-width: $btn-max-width + 60px;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  
  .btn {
    margin: 30px auto;
    display: block;
    min-width: 200px;
    max-width: $btn-max-width;
    position: relative;
  }
}

.login-enter {
  opacity: 0.01;
}

.login-enter.login-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.login-leave {
  opacity: 1;
}

.login-leave.login-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}