@import 'loginbar';
@import 'header';
@import 'footer';
@import 'home';
@import 'loader';
@import 'scrollBar';
@import 'button';
@import 'sidebar';
  
body {
  text-align: center;
  background-color: #222;
  margin: auto;
  padding: 0;
  font-family: sans-serif;
  font-family: "Benton Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",helvetica,arial,sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.app {
  position: 'relative';
  display: 'flex';
  minHeight: '100vh';
  flexDirection: 'column';
}

h1 {
  color: whitesmoke;
}

h2 {
  font-weight: bold;
  color: #585858;
}

.disableScroll {
  position: fixed !important; 
  overflow-y: scroll !important;
  width: 100% !important;
}