@import 'test';
  
body {
  text-align: center;
  margin: auto;
  padding: 0;
  font-family: sans-serif;
  font-family: "Benton Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",helvetica,arial,sans-serif;
}

a {
  color: white;
}