{
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env",{"targets": {"node": "current"}}
        ]
      ],
      "plugins": [ ["transform-remove-console", { "exclude": [ "error", "warn"] }] ],
      "comments": false
    }
  }
}