.loginbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: repeating-linear-gradient(45deg, #222, #222 10px, #333 10px, #333 20px);
  opacity: 0.9;
  z-index: 10; }

.loginbar-btns {
  position: relative;
  max-width: 360px;
  border: 2px solid red;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }
  .loginbar-btns .btn {
    margin: 30px auto;
    display: block;
    min-width: 200px;
    max-width: 300px;
    font-size: 2em;
    font-weight: bold; }

.login-enter {
  opacity: 0.01; }

.login-enter.login-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.login-leave {
  opacity: 1; }

.login-leave.login-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.header {
  position: relative;
  border-bottom: 5px solid #333;
  padding-bottom: 10px; }

.btn {
  appearance: button;
  -webkit-appearance: button;
  color: #111; }

.btnHeader {
  margin: auto;
  padding: 5px 10px;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5em; }

@media only screen and (max-width: 640px) {
  .btnHeader {
    position: static;
    display: block;
    max-width: 200px;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    margin: 10px auto; } }

.footer {
  position: fixed;
  margin: auto;
  width: 100vw;
  bottom: 0;
  border-top: 5px solid #333; }

.home {
  overflow: hidden; }

.slide-appear {
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -o-transform: translateX(50px);
  -ms-transform: translateX(50px);
  opacity: 0; }

.slide-appear.slide-appear-active {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transition: transform 1s ease, opacity 1.5s ease-out; }

.slide-enter {
  opacity: 0;
  transform: translateX(50px);
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -o-transform: translateX(50px);
  -ms-transform: translateX(50px); }

.slide-enter.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transition: transform 1s ease, opacity 1.5s ease-out; }

.disabledCursor {
  pointer-events: none;
  cursor: pointer; }

.lds-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: official;
  display: inline-block;
  width: 64px;
  height: 64px; }

.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite; }

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #fff; }

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s; }

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s; }

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s; }

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s; }

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s; }

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s; }

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s; }

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s; }

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s; }

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s; }

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s; }

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s; }

@keyframes lds-spinner {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

body {
  text-align: center;
  background-color: #222;
  margin: auto;
  padding: 0;
  font-family: sans-serif;
  font-family: "Benton Sans",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",helvetica,arial,sans-serif; }

a {
  color: white; }

.app {
  position: 'relative';
  display: 'flex';
  minHeight: '100vh';
  flexDirection: 'column'; }

h2 {
  font-weight: bold;
  color: #585858; }

